.blue_button {
	-moz-box-shadow: inset 0 1px 0 0 #cae3fc;
	-webkit-box-shadow: inset 0 1px 0 0 #cae3fc;
	box-shadow: inset 0 1px 0 0 #cae3fc;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#79bbff),color-stop(1,#4197ee));
	background: -moz-linear-gradient(center top,#79bbff 5%,#4197ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',endColorstr='#4197ee');
	background-color: #79bbff;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #469df5;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	min-width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0 #287ace;
}

.blue_button:hover {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#4197ee),color-stop(1,#79bbff));
	background: -moz-linear-gradient(center top,#4197ee 5%,#79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee',endColorstr='#79bbff');
	background-color: #4197ee;
}

.blue_button:active {
	position: relative;
	top: 1px;
}